<html ng-app="appModule">
    <head>
        <title>Bikes service</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="main.js"></script>
        <script src="app.table.component.js"></script>
        <script src="app.update.component.js"></script>
        <script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
        
    </head>
<bodyid="app" class="viewport">
<div class="container-fluid">
    <section id="view" class="text-center">
        <div ng-controller='appController' class="col-md-12" style="padding-top: 2%; display:block;">
            
            <button type="submit" ng-click="send()" style="display: infline;" class="btn btn-lg btn-success">Get bikes</button>
            <button type="submit" ng-click="show = !show" style="display: infline;" class="btn btn-lg btn-info">Add bike</button>
            <div ng-show="show" style="display: block; text-align: center;">
                <form ng-controller='appController' ng-submit="submitForm()"  class="form-group" style="padding: 2%;">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label col-form-label-lg">Bike name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model='data.name' id="name" placeholder="Bike name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label col-form-label-lg">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model='data.description' id="description" placeholder="Bike description">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="class" class="col-sm-2 col-form-label col-form-label-lg">Bike classes</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model='data.class' id="class" placeholder="Bike classes">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="image" class="col-sm-2 col-form-label col-form-label-lg">Bike image URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model='data.image' id="image" placeholder="Bike image">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                            <input type="submit" ngClick="Submit"  value="Add" class="btn btn-md btn-success form-control">
                            </div>
                            <pre id="result_box">{{add_result}}</pre>
                        </div>
                <ng-form>

            </div>
            
            <item-directive bikes-data="bikes_data" ng-show="show_table" />
        </div>
    </section>
    
</div>
</body>
 
</html>